.leftside, .rightside, .center{
	height: 100vh;
	width:100%;

}


label.charge{
  background-color: #FFFF;
  border-radius: 25px;
  color: #fff;
  height: 35px;
  cursor: pointer;
  margin-left:auto;
  text-align: center;
  margin-top:100px;
  width: 200px;
  line-height: 32px;
  box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;

}